/* app css stylesheet */

h1 {
  border-bottom: 1px solid gray;
}


.game-resume{
  border: solid black 1px;
  margin-bottom: 20px;

  position: relative;
}

.game-resume > *{
  display: inline-block;
  vertical-align: middle;
}
.game-resume >*  > *{
  display: block;
}

.game-resume > .items  > *{
  display: inline-block;
}

.game-resume .efficacity{
  position: absolute;
  right: 0px;
  top: 0px;
}