<div class="game-resume">
	<img class="champion" ng-src="http://lkimg.zamimg.com/shared/riot/images/champions/{{game.championId}}.png" />

	<div>
		<span ng-show="game.stats.win" class="win">Victoire</span>
		<span ng-show="!game.stats.win" class="defeat">Défaite</span>
		<span>{{ game.createDate | date:'short'}}</span>
		<span>{{ game.gameMode}}</span>
	</div>

	<div class="stat">
		<span>{{game.stats.championsKilled}} kills</span>
		<span>{{game.stats.numDeaths}} morts</span>
		<span>{{game.stats.assists}} assists</span>
	</div>

	<div>
		<span>{{game.stats.goldEarned}} gold</span>
		<span>{{game.stats.minionsKilled}} creeps</span>
	</div>

	<div class="spell">
		<img ng-src="http://lkimg.zamimg.com/images/spells/{{game.spell1}}.png" />
		<img ng-src="http://lkimg.zamimg.com/images/spells/{{game.spell2}}.png" />
	</div>

	<div class="items">
		<img ng-src="http:////lkimg.zamimg.com/shared/riot/images/items/{{game.stats.item0}}_32.png" />
		<img ng-src="http:////lkimg.zamimg.com/shared/riot/images/items/{{game.stats.item1}}_32.png" />
		<img ng-src="http:////lkimg.zamimg.com/shared/riot/images/items/{{game.stats.item2}}_32.png" />
		<img ng-src="http:////lkimg.zamimg.com/shared/riot/images/items/{{game.stats.item3}}_32.png" />
		<img ng-src="http:////lkimg.zamimg.com/shared/riot/images/items/{{game.stats.item4}}_32.png" />
		<img ng-src="http:////lkimg.zamimg.com/shared/riot/images/items/{{game.stats.item5}}_32.png" />
		<img ng-src="http:////lkimg.zamimg.com/shared/riot/images/items/{{game.stats.item6}}_32.png" />
	</div>
	<div class="efficacity">{{game.efficacity}}</div>
</div>